/* .footer-style{


color: black;
/* font-weight: bold; */
/* background-color: #036363; */
/* border-top:1px solid whitesmoke;


} */

/* .footer-title{
color:rgb(12, 12, 59);
font-weight: bold;
} */ 
