.navbar-bg {
    background-color: #00a5cf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}

.Nav {
    position: -webkit-sticky;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}



/* sidebar */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e256c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}



.sidenav1 {
    width: 0;
    overflow-x: hidden;

}

.sidenav>ul {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 40px;
}

.closebtn {
    color: #c11a7e;
}

* li {
    list-style: none;
}

.sidenav a {

    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #c11a7e;
    display: block;
    transition: 0.3s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

}