.background{
    background: linear-gradient(180deg,#f8fafc,rgba(242,202,252,.11) 40.69%,rgba(250,198,252,.11) 50.06%,rgba(175,183,255,.11) 54.48%,rgba(142,220,200,.07) 64.9%,#f8fafc 97.95%);
}

.scrollbar::-webkit-scrollbar{
    width: 10px;
    scrollbar-color: red;
}

